body {
    width: 70%;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}

#home-icon {
    text-align: center;
    width: 30%;
    height: 10%;
}

#title {
    font-family: fantasy;
    font-style: normal;
    font-weight: 700;
    font-size: 400%;
    color: rgb(4, 92, 4);
    letter-spacing: .5em;
    margin-top: 0;
}

#title1 {
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 350%;
    color: #1F252F;
}

hr {
    width: 30%;
    height: 16px;
    background: #F51858;
    border: none;
    border-radius: 8px;
}

#title2 {
    width: 100%; 
    font-family: Verdana;
    font-style: normal;
    font-weight: 400;
    font-size: 300%; 
    color: #1F252F;
}

#facebook {
    width: 4%;
    height: 4%;
    padding-right: 5%;
}

#btn-text {
    font-family: 'Shanti';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;   
    color: #FFFFFF;
}

#btn1 {
    padding: 10px 10px;   
    width: 80%;  
    background: #3A5998;
    border-radius: 4px;
    border: none;
}

#btn1:hover { 
    background: #3A3998;
}

#email {
    width: 4%;
    height: 4%;
    padding-right: 5%;
}


#btn2 {
    padding: 10px 10px;
    width: 80%;
    background: #89FC00;
    border: none;
    border-radius: 4px;
    margin-top: 32px;
}

#btn2:hover {
    background: #89DD00;
}

#last {
    font-family: 'Shanti';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    color: #1F252F;
}

#last-last {
    color: #89FC00;
}



/*These following styles are applies to screen2 (sign-email.html)*/
#arrow {
    text-align: left;
}

#title3 {
    text-align: left;
    width: 100%; 
    font-family: Verdana;
    font-style: normal;
    font-weight: 400;
    font-size: 180%; 
    color: #1F252F;
}

#text-box {
    display: block;
    width: 100%;
    height: 100%;
    background: #d4d7dd;
    border: none;
    border-radius: 8px;
    color: #1F252F;
    padding: 5px;
    font-size: 120%;
}